.enustyazi{
    color: white;
    position: flex;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: medium;
    padding-left: 2%;
    margin-bottom: 5%;
}

/* .sagusticon{
    color: white;
    position: flex;
    font-size: 20px;
    font-weight: medium;
    padding-left: 2%;
    margin-bottom: 5%;
} */

.arkaplan{
    background-color: #20262f;
    width: 850px;
    height: 700px;
    border-radius: 5px;  
    position: absolute;
    top: 15%;
    left: 28%;
    padding: 5px;
}

