.topinfo {
    position: absolute;
    width: 997px;
    height: 517px;
    border: 9px solid gray;
    padding: 50px;
    margin: 20px;
    right: 0%;
    background-color: #7CBEC1;
    animation: fadeIn 1s;
    border-radius: 25px;
    flex: auto;
    justify-content: right;
    background-image: url('images/anotherimage.png');
    background-size: contain;
    box-shadow: rgba(210, 4, 4, 0.997) 0px 0px 0px 5px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.header {
    position: absolute;
    right: 10%;
    color: white;
    top: -17px;
    flex: auto;
    justify-content: right;
    border: 15px solid gray;
    padding: 30px;   
    width: 100px;
    padding-inline-start: 360px;
    padding-right: 360px;
    background-color: black;
    font-family: Verdana, sans-serif;
    font-weight: 700;
    font-size: small;
}


/* Colorful Accept Button*/
.acceptbutton {
    position: absolute;
    width: 10%;
    right: 60%;
    margin: 170px;
    top: 399px;
    transition-duration: 0.4s;
    animation: fadeIn 1s;
    justify-content: right;
    flex: auto;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .acceptbutton:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .acceptbutton:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

.acceptbutton:hover {
    color: white;
    border-radius: 0px;
    transform: scale(1.1);
}

.denybutton {
    position: absolute;
    right: 0;
    top: 399px;
    margin: 170px;
    transition-duration: 0.4s;
    border-radius: 30px;
    animation: fadeIn 1s;
    justify-content: right;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .denybutton:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .denybutton:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

.denybutton:hover {
    color: white;
    border-radius: 0px;
    transform: scale(1.1);
}

.mainn {
    position: absolute;
    color: white;
    top: 70px;
    right: 44%;
    justify-content: right;
    flex: auto;
    font-family: Verdana, sans-serif;
    font-weight: 500;
    font-size: smaller;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.deliveries {
    position: absolute;
    height: 470px;
    width: 100px;
    top: 120px;
    color: white;
    right: 11%;
    border: 10px solid gray;
    padding-inline-start: 360px;
    padding-right: 360px;
    background-color: #92A8D1;
}

.forms {
    position: absolute;
    right: 55%;
    top: 0px;
    margin: 170px;
}

.deliverybutton {
    border-radius: 15px;
    background-color: gray;

}

.timer {
    position: absolute;
    color: white;
    right: 2.5%;
    margin: 100px;
    top: -28px;
    font-family: Verdana, sans-serif;
    font-weight: 800;
    font-size: smaller;
}

th, td {
	border: 1px solid black;
  width: 150px;
  height: 100px;
	padding: 8px;
  position: relative;
  right: -23%;
  top: 64px;
}

thead th {
  width: 25%;
}