set es_enableCustomData 1 
set mysql_connection_string "mysql://root@localhost/venturemain?charset=utf8mb4"
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 115
sv_tebexSecret '0cef78f8b8654de54de5564ca1f41f2704901fc6'
sv_licenseKey "cfxk_ncyRz3DvM1qkBKNSI4wu_Hvcdt"
## You CAN edit the following:
#set sv_enforceGameBuild 2699 
#misc enabler
set sv_enforceGameBuild 2372  
sv_scriptHookAllowed 0
setr profile_skfx 0
## You MAY edit the following:
load_server_icon myLogo.png
sv_hostname "^6QPixel Development ^7| ^4Signup @ SoonTm "
sets banner_connecting "https://imgur.com/EUFBIOm.png"
sets banner_detail "https://imgur.com/EUFBIOm.png"
# Voice config
setr UseTarget true 
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true
setr voice_defaultCycle "GRAVE"
setr voice_defaultVolume 0.3
setr voice_enableRadioAnim 1
setr voice_syncData 1

setr voice_enablePhones 1
setr voice_enableRadios 1
setr voice_enableSubmix 1

add_ace resource.zdiscord command allow
# These resources will start by default.
ensure webpack
ensure yarn
ensure mapmanager
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents
ensure cron

# QBCore & Extra stuff

ensure qb-core
ensure np-chat
ensure [spawn]
exec assets.cfg
ensure [interactions]
ensure [casino]
ensure [qb]
ensure [standalone]
ensure [Rhodinium]
ensure [Sheesh]
ensure [PopoAU]

ensure qb_m_spawnstation
ensure [voice]
ensure [new]
ensure [assets_clothes]
ensure [assets_maps]
ensure [rags]
ensure [assets_misc]
ensure [assets_vehicles]
ensure [assets_weapons]
ensure [dev]

restart qb-policejob #Armory Issues

ensure qb-vehicleshop

restart raid_clothes

restart ak47_qb_cookiesv2

restart ak47_qb_usablecookiesv2

restart qb-bankrobbery

restart qb-oxyruns

#ensure pac

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit

sv_tebexSecret 0cef78f8b8654de54de5564ca1f41f2704901fc6
add_ace resource.Tebex-FiveM command allow
setr ea_LanguageName "en"
set ea_enableCallAdminCommand "true"
set ea_enableReportCommand "true"
sets tags "qb-core, seriousrp, good economy,customweapons,gangs,newserver,hiringpd,ems,staff,doj,venture,kingdom,yespixel"
#This is an official FiveM server hosted by ZAP-Hosting.com. You do not need to put a license key here.
add_ace group.admin webadmin allow
add_principal identifier.steam:110000108f409d0 group.admin
add_principal identifier.steam:110000135ec4346 group.admin
add_principal identifier.steam:11000010b1bee5d group.admin
add_principal identifier.steam:110000107aff8a1 group.admin

add_principal identifier.fivem:16897 group.admin
set steam_webApiKey "38435410B4F548D49AFA87935514D29D"
sets locale "en-US"
#set sv_listingIPOverride "45.43.18.117"
sets sv_projectName "VentureRP Reloaded"
sets sv_projectDesc "The next generation of VentureRP"

add_ace identifier.steam:110000108f409d0 "pac_permission_everything" allow
add_ace identifier.steam:110000142a5f5da "pac_permission_everything" allow
add_ace identifier.steam:110000135ec4346 "pac_permission_everything" allow
add_ace identifier.steam:110000105292756 "pac_permission_everything" allow
add_ace identifier.steam:11000010f5c50e1 "pac_permission_everything" allow
add_ace identifier.steam:11000010181d238 "pac_permission_everything" allow
add_ace identifier.steam:1100001088d8a1f "pac_permission_everything" allow
add_ace identifier.steam:110000107e99ab9 "pac_permission_everything" allow
add_ace identifier.steam:110000109dc6aef "pac_permission_everything" allow
add_ace identifier.steam:11000010b1bee5d "pac_permission_everything" allow
_add_ace group.admin cs-boombox.control allow_
