/*----------------------------*/
/*---- BOII | DEVELOPMENT ----*/
/*----------------------------*/

* {
    box-sizing: border-box;
  }

body {
    background: none !important;
}

#container {
    font-size: 20px;
    padding: 25px;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(1, 1, 1);
    height: 90%;
    width: 40%;
    border: 2px solid #1f1e1e;
    border-radius: 7px;
    box-shadow:
        0  1px 10px rgba(255, 255, 255, 0.329),
        0  0px 10px rgba(255, 255, 255, 0.329);
    overflow-x: hidden;
    overflow-y: scroll;
}

h1 {
    text-align: center;
    color: #ffffff;
}
p {
    text-align: center;
}
div {
    text-align: center;
}

.header {
    padding: 3px;
    text-align: center;
    background: #323030;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border-radius: 7px;
    box-shadow:
    0  1px 5px rgba(255, 255, 255, 0.329),
    0  0px 10px rgba(255, 255, 255, 0.329);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

button {
    background-color: aliceblue;
    padding: 12px;
}

input {
    margin-bottom: 5px;
    width: 100%;
    font-size: 15px;
    padding: 12px;
}

.card {
    box-shadow:
    0  1px 5px rgba(255, 255, 255, 0.329),
    0  0px 10px rgba(255, 255, 255, 0.329);
    border: 2px solid #323030;
    border-radius: 7px;
    max-height: 250px;
    max-width: 250px;
    margin: center;
    text-align: center;
    font-family: arial;
    font-size: 11px;
    padding: 10px;
    text-align: center;
}

.card2 {
    box-shadow:
    0  1px 5px rgba(255, 255, 255, 0.329),
    0  0px 10px rgba(255, 255, 255, 0.329);
    border: 2px solid #323030;
    border-radius: 7px;
    max-height: 200px;
    max-width: 200px;
    margin: center;
    text-align: center;
    font-family: arial;
    font-size: 11px;
    padding: 20px;
    text-align: center;
}

.price {
    color: grey;
    font-size: 15px;
}
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
  
.card button:hover {
    opacity: 0.7;
}

.column {
    float: left;
    width: 20%;
    padding: 2px 10px;
}

.column2 {
    float: left;
    width: 25%;
    padding: 10px 10px;
}

.column3 {
    float: right;
    width: 20%;
    padding: 8px 10px;
}

.row {margin: 0 -5px;}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}  

hr.rounded {
    border-top: 2px solid #ffffff;
    border-radius: 0px;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}  
::-webkit-scrollbar-thumb {
    background: #323030; 
    border-radius: 10px;
} 
::-webkit-scrollbar-thumb:hover {
    background: #323030; 
}
