@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");

body {
    overflow: hidden;
    user-select: none;
    font-weight: 300;
	font-family: "Poppins", sans-serif !important;
}

.main-container {
    position: absolute;
    top: -30vh;
    left: 40vw;
    display: none;
}

.menu-items-container {
    display: none;
    width: 16vw;
    height: 21vh;
    border-radius: 5px;
    background: #1b2027;
    box-shadow: 1px 1px 6px #3b5572;
}

.menu-items-container > p {
    text-align: center;
    padding-top: 3vh;
    color: white;
    font-size: 2.7vh;
}

.cost {
    margin-top: 1vh;
    margin-left: 3vh;
    color: white;
}

.comment {
    margin-top: 1vh;
    margin-left: 3vh;
    color: white;
}

.text-input-price {
    margin-top: 0vh; 
    margin-left: 1vh;  
	background-color: #3b5572;
    color: white;
    font-weight: 800;
}

.text-input-note {
    margin-top: 0.2vh; 
    margin-left: 0.5vh;  
	background-color: #3b5572;
    color: white;
    font-weight: 800;
}

.accept-button {
    position: absolute;
    width: 10vh;
    height: 4vh;
    margin-top: 1.5vh;
    margin-left: 3vh;
    border-radius: 6px;
    background: #3b5572;
	background-color: #3b5572;
    box-shadow: 1px 1px 6px rgba(23, 23, 23);
}

.cancel-button {
    position: absolute;
    width: 10vh;
    height: 4vh;
    margin-top: 1.5vh;
    margin-left: 15.5vh;
    border-radius: 6px;
    background: #3b5572;
	background-color: #3b5572;
    box-shadow: 1px 1px 6px rgba(23, 23, 23);
}

.accept-button > p, .cancel-button > p {
    text-align: center;
    font-size: 1.2vh;
    color: white;
}

.accept-button:hover {
	box-shadow: 1px 1px 6px #5ace66;

}

.cancel-button:hover {
	box-shadow: 1px 1px 6px #dc143c;
}

.payment-container {
    display: none;
    overflow-x: auto;                  
    overflow-y: auto;
    width: 17vw;
    height: 26vh;
    border-radius: 5px;
    background: #1b2027;
    box-shadow: 1px 1px 6px rgb(5, 5, 5);
}

.payment {
    position: relative;
    left: 1vh;
    top: 0.85vh;
    width: 15.9vw;
    height: 4vh;
    margin-top: 1vh;
    border-radius: 5px;
    background: #3b5572;
	background-color: #3b5572;
    box-shadow: 1px 1px 6px rgba(23, 23, 23);
}

.payment:hover {
	box-shadow: 1px 1px 6px #dc143c;
}

.payment > p {
    font-size: 1.2vh;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 0.2vh;
    padding-left: 0.5vh;
    color: white;
}

.close-button {
    font-size: 1.2vh;
    width: 0.8vw;
    height: 1.5vh;
    background-color: #dc143c;
    position: absolute;
    right: 0;
    text-align: center;
    color: white;
}

.close-button:hover {
	box-shadow: 1px 1px 6px #dc143c;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar{
    width: 0.5vh;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}