body{
    font-family: sans-serif;
    overflow: hidden;
    display: flex;
    height: 100vh;
}
/**
 MINIGAME SQUARES
 */
.splash{
    display: inline-block;
    width: 100%;
    margin: 352px auto;
    text-align: center;
    color: white;
    font-size: 16px;
}
.splash .hacker{
    font-size: 64px;
    margin-bottom: 30px;
}
.splash .message{
    font-size: 24px;
}
.splash .sub_message{
    display: block;
    font-size: 17px;
    margin-top: 5px;
}

.btn_again {
    margin: 0px;
    padding: 0;
    font-weight: bold;
    display: block;
    color: #ffffff;
    background-color: transparent;
    border: none;
    cursor: default;
}
.groups .btn_again{
    margin: 0 auto;
}

.minigame{
    display: none;
    margin: auto;
    width: 1536px;
    min-width: 1536px;
    max-width: 1536px;
    height: 865px;
    min-height: 865px;
    max-height: 865px;
    background-color: #20282e;
    position: relative;
}
.groups{
    position: relative;
    user-select: none;
}
.group{
    position: absolute;
    width: 96px;
    height: 96px;
    background-color: #10487f;
    cursor: pointer;
    text-align: center;
    font-size: 62px;
    color: #ffffff;
    line-height: 100px;
    border: 1px solid white;
}
.groups.playing .group{
    color: transparent;
}

.group.bg1{
    background-color: #00ffff;
}
.group.bg2{
    background-color: #088f90;
}
.group.bg3{
    background-color: #708fae;
}
.group.bg4{
    background-color: #7392b2;
}
.group.bg5{
    background-color: #6394ed;
}
.group.bg6{
    background-color: #10487f;
}
.group.bg7{
    background-color: #0047ab;
}
.group.bg8{
    background-color: #1335a3;
}
.group.bg9{
    background-color: #00018b;
}

.group.good{
    background-color: #3a5c81;
    border: none;
}
.group.bad{
    background-color: #802525;
    border: none;
}

.hidden {
    display: none!important;
}