.not-finished {
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;

    text-align: center;
    color: var(--color-white);
    font-size: 1.5vh;
    font-weight: bolder;
}


.not-finished i {
    position: relative;

    bottom: 5vh;
    font-size: 5vh;

    -webkit-animation: shake-icon 2s infinite ease;
    animation: shake-icon 2s infinite ease;
}

.not-finished p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--color-white); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}