<html>
   <head>
      <link rel="stylesheet" type="text/css" href="main.css" />
      <link href="https://cdn.jsdelivr.net/npm/quasar@2.1.0/dist/quasar.prod.css" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js" defer></script>
      <script src="https://cdn.jsdelivr.net/npm/quasar@2.1.0/dist/quasar.umd.prod.js" defer></script>
      <script src="main.js" defer></script>
      <script src="menu.js" defer></script>
   </head>
   <body>
      <div id="openmenu">
         <div id="menu">
            <div class="q-mb-md text-white">
               <q-form @submit="onSubmit" class="q-gutter-md">
                  <q-select
                     dark
                     v-model="model"
                     use-input
                     hide-selected
                     fill-input
                     input-debounce="0"
                     :options="job"
                     @filter="filterFn"
                     label = "Autorized Job"
                     hint="Minimum 2 characters to trigger filtering"
                     emit-value
                  >
                     <template v-slot:prepend>
                        <q-icon name="work"/>
                     </template>
                  </q-select>
                  <q-input dark hint="Distance for interaction (1.0 - 5.0)" type="text" rows="1" v-model="distance" class="distance" color="field" v-model="text" label="Distance">
                     <template v-slot:prepend>
                        <q-icon name="social_distance"/>
                     </template>
                  </q-input>
                  <q-option-group
                     label="Type of Zone"
                     v-model="preferred"
                     :options="options"
                     dark
                     color="green"
                     inline
                     size="sm"
                     align="justify-center"
                  ></q-option-group>
                  <div class="row justify-center">
                     <q-btn class="Close" label="Submit" type="submit" text-color="black" color="button"></q-btn>
                  </div>
               </q-form>
            </div>
         </div>
      </div>
      <div id="input">
         <div id="input-menu">
            <div class="q-mb-md">
               <q-form @submit="onSubmit" class="q-gutter-md">
                  <q-input dark hint="Charge the customer" type="number" rows="1" v-model="input" class="input" color="field" v-model="text" label="Amount">
                     <template v-slot:prepend>
                        <q-icon name="attach_money"/>
                     </template>
                  </q-input>
                  <q-input dark hint="Enter description" type="text-field" rows="1" v-model="description" class="description" color="field" v-model="text" label="Items">
                     <template v-slot:prepend>
                        <q-icon name="post_add"/>
                     </template>
                  </q-input>
                  <div class="row justify-center">
                     <q-btn class="Close" label="Submit" type="submit" text-color="black" color="button"></q-btn>
                  </div>
               </q-form>
            </div>
         </div>
      </div>
      <div id="item">
         <div id="item-menu">
            <div class="q-mb-md">
               <q-form @submit="onSubmit" class="q-gutter-md">
                  <q-select 
                     filled 
                     v-model="model" 
                     :options="options" 
                     label="Type" 
                     dark
                     popup-content-style = "background-color: rgb(70,70,70); color: rgb(100,100,100); text-indent: 12px;"
                  ></q-select>
                  <q-input dark hint="Item Name" type="text" rows="1" v-model="name" class="name" color="field" v-model="text" label="Name">
                     <template v-slot:prepend>
                        <q-icon name="text_snippet"/>
                     </template>
                  </q-input>
                  <q-input dark hint="URL (100px x 100px)" type="text-field" rows="1" v-model="image" class="image" color="field" v-model="text" label="Image">
                     <template v-slot:prepend>
                        <q-icon name="image"/>
                     </template>
                  </q-input>
                  <q-input dark hint="Enter description" type="text-field" rows="1" v-model="description" class="description" color="field" v-model="text" label="Item Description">
                     <template v-slot:prepend>
                        <q-icon name="description"/>
                     </template>
                  </q-input>
                  <div class="row justify-center">
                     <q-btn class="Close" label="Submit" type="submit" text-color="black" color="button"></q-btn>
                  </div>
               </q-form>
            </div>
         </div>
      </div>
      <div id="container">
         <div id="buttons"></div>
     </div>
   </body>
</html>