* {
    padding: 0;
    margin: 0;
}

.root-wrapper {
    padding: 8px;
    padding-bottom: 2vh;
    overflow: none;
    position: relative;
    max-width: 60%;
    min-width: 15%;
    max-height: 90%;
    background-color: rgb(34, 40, 49);
}

html,body {
    background: transparent !important;
}
.MuiSelect-root {
    font-size: 14px !important;
}
.heading {
    width: 100%;
    max-width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    overflow: wrap;
}

.heading h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
    font-weight: bold;
    position: relative;
}
* {
    padding: 0;
    margin: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.jss5203 {
    width: 100%;
    padding: 11px;
    margin-bottom: 8px;
}
.jss5204 {
    margin-top: 16px;
    width: 100%;
    margin-bottom: 1px;
}
.jss5204:first-child{
    margin-top: 0;
}
/* .body {
    width: 100%;
    height: 100%;
    min-height: 10%;
    max-height: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
} */

/* .body label {
    color: white;
    margin-top: 0.8em;
}

.body input[type="text"] {
    background: transparent;
    color: white;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
}

.body input[type="text"]:focus{
    background-color: transparent;
    border: none;
    border: 0px solid;
    border-bottom: 2px solid white;
    outline: none !important;
    box-shadow: none;
} */

element{outline:none;}

/* .body input[type="text"]:focus {
    box-shadow: 0 0 0 0.1rem#1f2533;
} */

/* .body select {
    background: #1f2533;
    color: white;
    border: none;
} */


/* .body option {
    background: #1f2533;
    color: white;
    padding: 1rem 0;
} */

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer > div{
    display: inline;
}
.btn {
    -webkit-appearance: button;
    color: rgba(0, 0, 0, 0.87);
    background-color: #95ef77;
    border-radius: 3px;
    box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
    padding: 4px 10px;
    font-size: 0.8125rem;
    border: 0;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    outline: 0;
    position: relative;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
}
.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}
.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}

.jss5190 {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1000;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0);
}
.main{
        top: 2vh;
        width: 98vw;
        height: 96vh;
        display: flex;
        opacity: 1;
        position: absolute;
        transition: top 400ms ease-out 0s;
        flex-direction: column;
        background-color: transparent;
}
.main-app-container {
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    margin: 0!important;
    padding: 0!important;
    border: 0!important;
    outline: 0!important;
    overflow: hidden;
    position: relative;
}
.main-container-back {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    position: absolute;
    max-width: 100vw;
    min-width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    pointer-events: none;
    border: 0px !important;
    margin: 0px !important;
    outline: 0px !important;
    padding: 0px !important;
    overflow: hidden !important;
}
.main-border {
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 100;
    transition: visibility 400ms ease-out 0s;
    visibility: visible;
    align-items: center;
    pointer-events: all;
    justify-content: center;
}
::-webkit-scrollbar-track {
    background-color: rgb(245 245 245 / 10%);
    border-radius: 2vh;
    max-height: 50%; height: 50%;
}

::-webkit-scrollbar {
    width: 0.4vh;
    max-height: 50%; height: 50%;
    /* border-radius: 15px; */
    background-color: rgb(245 245 245 / 0%);
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 2vh;
    max-height: 50%; height: 50%;
}
.background{
    overflow: none;
    display: none;
}
.MuiSelect-selectMenu {
    height: auto;
    overflow: hidden;
    min-height: 1.1876em;
    white-space: nowrap;
    text-overflow: ellipsis;
}.MuiSelect-select.MuiSelect-select {
    padding-right: 24px;
}.MuiSelect-select {
    cursor: pointer;
    min-width: 16px;
    user-select: none;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
}.MuiInputBase-input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
}
.MuiSelect-icon {
    top: calc(50% - 12px);
    color: #fff;
    right: 0;
    pointer-events: none;
}.MuiSvgIcon-root {
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 1.5rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
}
.MuiFormControl-root {
    border: 0;
    margin: 0;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}.MuiFormControl-root, hr {
    width: 100%;
}.jss2362 > div {
    flex: 1 1 0%;
}.MuiInputLabel-animated {
    transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}.MuiInputLabel-shrink {
    transform: translate(0, 1.5px) scale(0.75);
    transform-origin: top left;
}.MuiInputLabel-formControl {
    top: 0;
    left: 0;
    position: absolute;
}.MuiInputLabel-root {
    display: block;
    transform-origin: top left;
}.MuiFormLabel-root {
    color: rgba(255, 255, 255, 0.7);
    padding: 0;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
}
.MuiFormControl-root {
    border: 0;
    margin: 0;
    padding-right: 1vh;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 0;
    flex-direction: column;
    vertical-align: top;
}.MuiFormLabel-root {
    color: rgba(255, 255, 255, 0.7);
    padding: 0;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.00938em;
}.MuiInputLabel-root {
    display: block;
    transform-origin: top left;
}.MuiInputLabel-shrink {
    transform: translate(0, 1.5px) scale(0.75);
}.MuiInputLabel-animated {
    transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}.MuiInputLabel-formControl {
    top: 0;
    left: 0;
    position: absolute;
}.MuiInputBase-root {
    color: #fff;
    cursor: text;
    display: inline-flex;
    position: relative;
    font-size: 1rem;
    box-sizing: border-box;
    align-items: center;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.1876em;
    letter-spacing: 0.00938em;
}label+.MuiInput-formControl {
    margin-top: 16px;
    padding-right: 2vh;
}
.MuiInput-underline:before {
    left: 0;
    margin-right: 2vh;
    right: 0;
    bottom: 0;
    content: "\00a0";
    position: absolute;
    transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    pointer-events: none;
}*, *:before, *:after {
    box-sizing: inherit;
}
.MuiInput-underline:after {
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-bottom: 2px solid #95ef77;
    pointer-events: none;
}.jss252 .Mui-focused, .jss252 .MuiFormControlLabel-root, .jss252 .MuiInput-underline:after, .jss252 .MuiInputAdornment-root {
    color: rgba(255, 255, 255, 0.7) !important;
    border-color: rgba(255, 255, 255, 0.7) !important;
}.MuiInputBase-input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
}
button, input {
    overflow: visible;
}
input {
    font-size: 13.3333px !important;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
}
.MuiInputBase-input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
}
.form-control:focus{
    color: currentColor!important;
    background-color: transparent!important;
    border-color: none!important;
    outline: none !important;
    box-shadow: none !important;
}
.jss252 .Mui-focused, .jss252 .MuiFormControlLabel-root, .jss252 .MuiInput-underline:after, .jss252 .MuiInputAdornment-root {
    color: rgba(255, 255, 255, 0.7) !important;
    border-color: rgba(255, 255, 255, 0.7) !important;
}
.MuiInputAdornment-root {
    height: 0.01em;
    display: flex;
    max-height: 2em;
    align-items: center;
    white-space: nowrap;
}
.MuiInputAdornment-positionStart {
    margin-right: 8px;
}
i{
    font-size: 1em !important;
}
.btn:hover{
    background-color: #89db6e !important;
    color: black !important;
}
.body select {
    background: #232831;
    color: white;
    border: none;
}

select:focus > option:checked { 
    background: #000 !important;
}


.body option {
    background: #424242;
    color: white;
    padding: 1rem 0;
}

.body option:hover{
    background: #606060;
}

.MuiPaper-root {
    color: #fff;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #424242;
    border-radius: 0 !important;
}
.MuiPaper-rounded {
    border-radius: 4px;
}
.MuiPaper-elevation8 {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.MuiPopover-paper {
    outline: 0;
    position: absolute;
    max-width: calc(100% - 32px);
    min-width: 16px;
    max-height: calc(100% - 32px);
    min-height: 16px;
    font-family: Arial, Helvetica, sans-serif !important;
    cursor: pointer;
    overflow-x: hidden;
    overflow-y: auto;
}.MuiList-root {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    max-height: 300px;
}ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.MuiMenu-list {
    outline: 0;
}
.MuiListItem-gutters {
    padding-left: 16px;
    padding-right: 90px;
}
.MuiListItem-root {
    width: 100%;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: flex-start;
    text-decoration: none;
}
.MuiMenuItem-root {
    min-height: auto;
}
.MuiTouchRipple-root {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    position: absolute;
    border-radius: inherit;
    pointer-events: none;
}
.MuiListItem-button:hover {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.08);
}
.MuiListItem-button:active {
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.12);
}
input{
    outline: none !important;
}
.MuiSelect-select.MuiSelect-select{
    outline: none !important;
}