* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

@font-face {
    font-family: font1;
    src: url("../font/BebasNeue-Regular.ttf");
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#main {
    width: 1920px;
    height: 1080px;
    background: rgba(0, 0, 0, 0.507);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 180px;
}

.menuDiv {
    width: 350px;
    color: white;
    font-family: font2;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 200;
    position: absolute;
    bottom: 65px;
    left: 30px;
}

.menuDiv > div:hover {
    color: #A4D3EE;
    transform: scale(1.1);
    transition: .2s;
}

.menuDiv>div:nth-child(5):hover {
    color: #FF4040;
    transform: scale(1.1);
    transition: .2s;
}

.menuItem {
    color: white;
    font-family: font1;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 200;
    position: relative;
    left: -250px;
    animation: slide .4s forwards;
}

@keyframes slide {
    0% {
        left: -250px;
    }

    100% {
        left: 30px;
    }
}