@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

html {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: transparent !important;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: auto;
    height: auto;
}

.container {
    display: block;
    position: absolute;
    top: 80vh;
    left: 42%;
    width: auto;
    opacity: 0;
}

#canvas {
    display: block;
    position: absolute;
    margin: 50px auto;
    width: 6.0vh;
    height: 6.0vh;
}

.label {
    position: relative;

    top: 70px;
    left: 80px;

    font-family: "Courier New", Courier, monospace;
    font-weight:0;
    font-size:17px;
  
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    letter-spacing:1px;
    color:#E6E6E5;
    width:100%;
    opacity:1;
    margin-top:-8.5%;
  
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.7px;
    /* font-size:16px; */
    font-weight: 600;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    /* text-shadow: 1px 1px 1px rgba(1,1,1,1); */
    position: relative;
    z-index: 99;
    text-shadow: 1px 1px 2px rgba(0,0,0,1);
}