* {
    padding: 0;
    margin: 0;
}

#container {
    position: absolute;
    height: auto;
    top: 20%;
    right: 20%;
    border-radius: 5px;
    background: transparent !important;
}

#buttons {
    max-height: 75vh;
    width: 35vw;
    overflow-x: none;
    overflow-y: auto;
    padding: 10px;
}

html,
body {
    background: transparent !important;
}

#buttons::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

.button {
    width: auto;
    max-width: 45%;
    height: 10%;
    background: #222831;
    margin: auto;
    position: relative;
    top: 10%;
    margin-top: 0.5rem;
    overflow: hidden;
    padding: 0.45rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    user-select: none;
}

.buttonDisabled {
    width: auto;
    max-width: 45%;
    height: 10%;
    background: #707070;
    margin: auto;
    position: relative;
    top: 10%;
    margin-top: 0.5rem;
    overflow: hidden;
    padding: 0.45rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
    user-select: none;
}

.button:hover {
    background-color: #30475e !important;
}

.context {
    color: rgb(232, 229, 229);
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    overflow: hidden;
    font-weight: 300;
}

.footer {
    color: rgb(232, 229, 229);
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    overflow: hidden;
    font-weight: 300;
}

.header {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: left;
    overflow: wrap;
    color: rgb(232, 229, 229);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    overflow: hidden;
    font-weight: 500;
}

.submenuicon {
    position: absolute;
    text-align: center;
    right: 2%;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    fill: #707070;
    opacity: 60%;
}

#imageHover {
    position: absolute;
    top: 10%;
    right: 75%;
}

#image {
    src: "";
    max-height: 40vh;
    max-width: 40vw;
    object-fit: scale-down;
}
