@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas Neue');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

body {
    overflow: hidden;
    display: none;
}

.container {
    overflow: hidden;
}

.centred {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.centred-h {
    position: fixed;
    left: 28%;
    transform: translate(-50%, 0%);
}

#sell-contract {
    max-width: 700px;
    max-height: 70vh;
    width: 30vw;
    height: 75vh;
    background-color: white;
    padding: 10px;
    background: #263646;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 5px rgb(0 0 0 / 60%);
}

#buy-contract {
    position: absolute;
    width: 165vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    user-select: none;
}

#buy-vehicle-desc {
    position: absolute;
    left: 66.8vh;
    bottom: 48vh;
    font-family: 'Poppins';
    font-size: 13px;
    width: 45vh;
    overflow: hidden;
    word-wrap: break-word;
}

.vehicle-description:hover {
    color: #ffffff;
}

.vehicle-description:focus {
    color: #ffffff;
}

.vehicle-description::placeholder {
    text-align: left;
    color:white
}

#sell-vehicle {
    width: 150px;
    height: 35px;
    background: #95ff88;
    margin-top: 100px;
    margin-left: 375px;
    left: 0;
    right: 0;
    border-radius: 25px;
    transition: all 0.1s ease-in-out;
}

#sell-vehicle:hover {
    border-radius: 25px;
    background: #95ee75;
    transition: all 0.1s ease-in-out;
    box-shadow: 0 2px 30px rgb(149,238,117, 0.700);
}

#sell-vehicle > p {
    text-align: center;
    line-height: 3.5vh;
     color: black;
    font-size: 20px;
    font-family: 'Bebas Neue' !important;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}

input.vehicle-sell-price::placeholder {
    color: white;
    opacity: 1;

}

#buy-vehicle {
   
width: 350px;
   
height: 35px;
   
background: #95ff88;
   
border-radius: 25px;
   
transition: all 0.1s ease-in-out;
   
bottom: 50vh;
   
margin:auto;
   
user-select: none;
}

#buy-vehicle-back {
    width: 350px;
    height: 35px;
    background: #ffad6f;
    border-radius: 25px;
    transition: all 0.1s ease-in-out;
    bottom: 88vh;
    margin: 0 auto;
    user-select: none;
}

#buy-vehicle:hover {
    border-radius: 25px;
    background: #95ee75;
    transition: all 0.1s ease-in-out;
    box-shadow: 0 2px 30px rgb(149,238,117, 0.700);
}

 #buy-vehicle-back:hover {
    border-radius: 25px;
    background: #f7a261;
    transition: all 0.1s ease-in-out;
    box-shadow: 0 2px 30px rgb(255, 170, 104 , 0.700);


}

#buy-vehicle > p {
    text-align: center;
    line-height: 3.5vh;
    color: black;
    font-size: 25px;
    font-family: 'Bebas Neue' !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

#buy-vehicle-back > p {
    text-align: center;
    line-height: 3.5vh;
    color: black;
    font-size: 22px;
    font-family: 'Bebas Neue' !important;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}


#form-header {
    height: 160px;
    border-bottom: solid;
    border-color: #ffffffde;
    border-width: 2px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.v-centred-container {
    position: relative;

}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.logo {
    width: 20%;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

#biz-name {
    width: 68%;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 3.0px;
}

#the-form {
    margin-top: 85px;
    width: 85%;
    height: 72%;
}

ul {
    list-style-type: none;
}

.errors {
    font-family: 'Poppins';
    background: #f7a261;
    width: 50%;
    border-radius: 25px;
    bottom: -10vh;
    left:25vh;
}

.form-entry {
    margin-top: 60px;
    height: 2%;
}

.form-entry input {
    width: 99.5%;
    margin-top: 2px;
    border-radius: 0.1px;
    outline:none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eee 1.5px;
}

.form-field {
    font-family: 'Poppins';
    font-size: 16px;
    padding-top: 3px;
    border-top: solid;
    color: rgb(170, 170, 170);
    border-color: #d8d8d8b0;
    border-width: 1px;
}

.form-field-summary {
    font-family: 'Poppins';
    font-size: 14px;
    color: #ffffff;
}

.vehicle-description {
    outline: none;
    background: none;
    font-family: 'Poppins';
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white
}

.vehicle-sell-price {
    font-size: 12px;
    outline: none;
    color: rgb(255, 255, 255);
    background-color: #00000000;
}

table {
    font-size: 18px;
    bottom: -500px;
    font-family: 'Poppins';
    color: white;
}

.pricing-table {
    margin-bottom: 480px;
    margin-left: 150px;
    width: 50%;
}


.table-field-heading {
    font-weight:500;
}

#buy-price {
    position: absolute;
    left: 87vh;
    bottom: 35.8vh;
    font-family: 'Poppins';
    font-size: 12px;
}

#buy-seller-name {
    position: absolute;
    left: 66.8vh;
    top: 21.5vh;
    font-family: 'Poppins';
    font-size: 14px;
}

#buy-seller-banknr {
    position: absolute;
    left: 66.8vh;
    top: 28vh;
    font-family: 'Poppins';
    font-size: 14px;
}

#buy-seller-telnr {
    position: absolute;
    left: 66.8vh;
    top: 34.2vh;
    font-family: 'Poppins';
    font-size: 14px;
}

#buy-vehicle-plate {
    position: absolute;
    left: 66.8vh;
    top: 40.5vh;
    font-family: 'Poppins';
}
