.container {
  display: none;
  position: relative;
  top: 30vh;
  width: 250px;
  height: 450px;
  background: #2D3139;
  margin: 50px auto;
}

.range-slider-area {
  padding-right: 10px;
  padding-top:70px;
  height: 50px;
  width:300px;
  -webkit-transition: 1s;
  transition: 1s;
  
}

.range-slider-area .rs-range {
  width: 100%;
  -webkit-appearance: none;
  
}

.range-slider-area .rs-range:focus {
  outline: none;
}

.range-slider-area .rs-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 0px 0px 2px #000000;
  background: #66fa39;
  border-radius: 0px;
  border: 0px solid #000000;
}

.range-slider-area .rs-range::-webkit-slider-thumb {
  border: 2px  #fff;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #66fa39;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

.range-slider-area .rs-range::-webkit-slider-thumb:active {
  box-shadow: 0px 0px 3px 6px rgba(30, 230, 12, 0.49);
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn {
  padding: .25rem 1rem;
  border-radius: 0.4vh;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
}

.slider1{
  margin-left: 55px;
  transform-origin: 130px 130px;
  transform: rotate(-90deg);
}

.slider2{
  margin-left: 125px;
transform-origin: 70px 70px;
  transform: rotate(-90deg);
}

.slider3{
  margin-left: 195px;
  transform-origin: 10px 10px;
  transform: rotate(-90deg);
}
