.machineimg {
    width: 500px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: -1;
}

.vitals {
    position: absolute;
    width: 357px;
    height: 269px;
    bottom: 90px;
    right: 65px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color:aliceblue;
    font-weight: 800;
}   
.name {
    font-size: 20px;
    white-space: nowrap;
    top: 20px;
}

.bp {
    color:aqua;
    font-size: 60px;
}



#hr-output {
    color: chartreuse;
    font-size: 60px;
    padding-left: 10px  ;
}


#rr-output {
    position: absolute;
    font-size: 50px;
    right: 100px;
    color: gold;
}

#hr-bpm {
    position: absolute;
    color: chartreuse;
    font-size: 20px;
    display: block;
    bottom: 65px;
    left: 55px;
}

.po2 {
    right: 70px;
    color:crimson;
    position: absolute;
    font-size: 40px;
}

#map {
    font-size: 20px;
    position: absolute;
    left: 255px;
    top: 60px;
}


#machine {
    display: none;
}