@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");
* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
}

#container {
    position: absolute;
    height: auto;
    top: 20%;
    right: 20%;
    border-radius: 5px;
    background: transparent !important;
}
.button {
    cursor: pointer;
    display: flex;
    flex-direction: row !important;
    gap: 10px;
}
.title {
    cursor: default;
    gap: 10px;
    display: flex;
    flex-direction: row !important;
}

#buttons {
    max-height: 75vh;
    width: 31vw;
    overflow-x: none;
    overflow-y: auto;
    padding: 10px;
}

html,
body {
    background: transparent !important;
}

#buttons::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

.button {
    width: auto;
    max-width: 45%;
    height: 10%;
    background: #1b2027;
    color: white;
    margin: auto;
    position: relative;
    top: 10%;
    margin-top: 0.5rem;
    overflow: hidden;
    padding: 0.45rem;
    border-radius: 0.15rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0rem 0rem 0.5rem 0.05rem #000000;
    cursor: pointer;
}

.icon {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: left;
}

.button:hover {
    background-color: #3b5572;
}

.title {
    width: auto;
    max-width: 45%;
    height: 10%;
    background: #1b2027;
    color: white;
    margin: auto;
    position: relative;
    top: 10%;
    margin-top: 0.5rem;
    font-size: 16px;
    overflow: hidden;
    padding: 0.50rem;
    border-radius: 0.15rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0rem 0rem 0.1rem 0.05rem #000000;
}

.title > div.header {
    text-decoration: underline !important;
}

.disabled {
    background: rgba(102, 102, 102, 0.9) !important;
    cursor: default;
}

div > .text {
    flex-direction: column;
    font-size: 0.75rem;
    overflow: hidden;
}

div > .header {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: left;
    overflow: wrap;
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
    overflow: hidden;
}
